html {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -o-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
.main,
.sidebar {
  height: 100%;
}

ul {
  margin-bottom: 0;
  padding-left: 1.5em;
}

.hidden {
  visibility: hidden !important;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  padding-bottom: 95px;
  overflow: auto;
  background-color: #fff;
  z-index: 1;
  border-right: 1px solid #ccc;
}

.main {
  padding-left: 365px /* to simulate padding-left: 1em */;
  padding-top: 1em;
}

.centered {
  text-align: center;
}

.step-type {
  font-size: 18px;
}

.icon {
  font-size: 24px;
}

.timeline-step {
  cursor: pointer;
  position: relative;
  padding: 1em;
}

.timeline-step:hover {
  background-color: #eee;
}

.timeline-step.active {
  background-color: #dedede;
}

.step-details {
  padding-left: 36px;
}

.step-description {
  color: #888;
}

.inline-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5em;
  margin: auto;
  height: 24px;
}

.sidebar-footer {
  position: fixed;
  bottom: 0;
  left: 0.5em;
  width: 335px;
  text-align: center;
  background-color: #FFF;
  border-top: 1px solid #CCC;
  padding-bottom: 0.5em;
}

.select-inline {
  display: inline-block;
  width: auto;
}

.inline-form-container {
  display: inline-block;
  width: 300px;
}

.inline-form-container .form-control {
  display: inline-block;
  margin: 0 0.5em;
  width: 210px;
  vertical-align: middle;
}