html {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -o-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
.main,
.sidebar {
  height: 100%;
}

body {
  padding: 1em;
}

ul {
  margin-bottom: 0;
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

.sidebar {
  position: absolute;
  top: 1em;
  left: 0;
  width: 350px;
}

.main {
  padding-left: 350px;
}

.centered {
  text-align: center;
}

.step-type {
  font-size: 18px;
}

.icon {
  font-size: 24px;
}

.timeline {
  padding: 0 1em;
  padding-left: 0 // inherit this from the body;
}

.timeline-step {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  padding: 1em;
}

.timeline-step:hover {
  background-color: #dedede;
}

.step-details {
  padding-left: 36px;
}

.step-description {
  color: #888;
}

.inline-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5em;
  margin: auto;
  height: 24px;
}

.sidebar-footer {
  position: fixed;
  bottom: 0.5em;
  left: 80px;
}

.select-inline {
  display: inline-block;
  width: auto;
}

.inline-form-container {
  display: inline-block;
  width: 300px;
}

.inline-form-container .form-control {
  display: inline-block;
  margin: 0 0.5em;
  width: 210px;
  vertical-align: middle;
}