- transform = require "./transform"
- click = (e) -> e.preventDefault(); $(e.currentTarget).next().toggleClass "hidden"

%section.main
  .form-group
    %h4 Data before current transform
    %a(href="" click=click) Show
    .input-spreadsheet-data.hidden

  .editor
    - if @activeStep()
      - transducer = @activeStep().transducer()
      %h2.title= transducer.title
      .form-group
        = transform transducer
    - else
      %h2.title Add dataset transform
      .form-group
        %span Data comes from a
        - options = ["URL", "file", "manual entry"]
        - sourceUrl = "https://api.github.com/gists"
        %select.form-control.select-inline(options=options)
        .inline-form-container
          %input.form-control(value=sourceUrl)
          %button.btn.btn-default(type="button" click=@loadData) Load

  .form-group
    %h4 Data after current transform
    %a(href="" click=click) Show
    .output-spreadsheet-data.hidden
