- Transform = require "./transform"
- Datasource = require "./datasource"

- click = (e) -> e.preventDefault(); $(e.currentTarget).next().toggleClass "hidden"

%section.main
  .publish-container
    %button.btn.btn-default(type="button" click=@newDataset) New Dataset
    %select.form-control.select-inline(value=@activeDataset options=@datasets)

  .form-group
    %h4 Data before current transform
    %a(href="" click=click) Show
    .input-spreadsheet-data.hidden

  .editor
    - dataset = @activeDataset()
    - if dataset.activeStep()
      - transducer = @activeStep().transducer()
      %h2.title= transducer.title
      .form-group
        = Transform transducer
    - else
      = Datasource dataset

  .form-group
    %h4 Data after current transform
    %a(href="" click=click) Show
    .output-spreadsheet-data.hidden
