- transform = require "./transform"
- datasource = require "./datasource"

- click = (e) -> e.preventDefault(); $(e.currentTarget).next().toggleClass "hidden"

%section.main
  .publish-container
    %button.btn.btn-default(type="button" click=@publish) Publish
    %select.form-control.select-inline(options=@savedSheets value=@loadedSheet)

  .form-group
    %h4 Data before current transform
    %a(href="" click=click) Show
    .input-spreadsheet-data.hidden

  .editor
    - if @activeStep()
      - transducer = @activeStep().transducer()
      %h2.title= transducer.title
      .form-group
        = transform transducer
    - else
      = datasource @

  .form-group
    %h4 Data after current transform
    %a(href="" click=click) Show
    .output-spreadsheet-data.hidden
