- transform = require "./transform"

%section.main
  .form-group
    %h4 Data before current transform
    %a(href="#" data-target=".formatted-input-data" click=@toggleResults) Show
    %pre.formatted-input-data.hidden= @inputData

  .editor
    - if @activeStep()
      - transducer = @activeStep().transducer()
      %h2.title= transducer.title
      .form-group
        = transform transducer
    - else
      %h2.title Add dataset transform
      .form-group
        %span Data comes from a
        %select.form-control.select-inline(@options)
        .inline-form-container
          %input.form-control(value=@sourceUrl)
          %button.btn.btn-default(type="button" click=@loadData) Load

  .form-group
    %h4 Data after current transform
    %a(href="#" data-target=".formatted-output-data" click=@toggleResults) Show
    %pre.formatted-output-data.hidden= @outputData
