:coffeescript
  Transform = require "./transform"
  Datasource = require "./datasource"

%section.main
  .form-group
    %h4 Data before current transform
    .input-spreadsheet-data

  .editor
    - dataset = @activeDataset()
    - if dataset.activeStep()
      - transducer = @activeStep().transducer()
      %h2.title= transducer.title
      .form-group
        = Transform transducer
    - else
      = Datasource dataset

  .form-group
    %h4 Data after current transform
    .output-spreadsheet-data

  %footer.sheet-navigation
    %ul.nav.nav-pills
      %li.sheet(role="presentation")
        %a(href="#" click=@newDataset) + New Dataset
      - @datasets.each ->
        :coffeescript
          activeClass = ->
            "active" if editor.activeDatasetIndex() is editor.datasets.indexOf(this)

          click = ->
            editor.activeDatasetIndex editor.datasets.indexOf(this)

        %li.sheet(role="presentation" class=activeClass click=click)
          %a(href="#")
            %input.invisible-background(value=@name)
