- stepTemplate = require "./step"
- Actions = require "./actions"

%aside.sidebar
  %h3.centered Transform Timeline
  .timeline
    - editor = this
    = @steps.map (step, index) -> stepTemplate({step, editor, stepIndex: index})

  .sidebar-footer
    %h4.centered Add transform
    = Actions this
