%aside.sidebar
  %h3.centered Transform Timeline
  .timeline
    - editor = this
    - @steps.each (step) ->
      - activeClass = -> "active" if step is editor.activeStep()
      - click = -> editor.activeStep step
      .timeline-step(click=click class=activeClass)
        .icon.inline-left.glyphicon(class=@icon)
        .step-details
          .step-type= @type
          %textarea.form-control.step-description= @description
    .sidebar-footer
      %h4.centered Add transform
      .btn-group
        - disabled = "disabled" unless editor.data().length
        - @actions.each ->
          .btn.btn-default(type="button" @click @title disabled=disabled)
            %span.glyphicon(@class)
