- stepTemplate = require "./step"
- Actions = require "./actions"

%aside.sidebar
  %h3.centered Transform Timeline
  - name = @activeDataset().name
  %input(value=name)
  .timeline
    - dataset = @activeDataset()
    = dataset.steps.map (step, index) -> stepTemplate({step, dataset, stepIndex: index})

  .sidebar-footer
    %h4.centered Add transform
    = Actions @activeDataset()
