%aside.sidebar
  %h3.centered Transform Timeline
  .timeline
    - parent = @
    - each @steps, ->
      .timeline-step(click=parent.click class="#{@name()}")
        .icon.inline-left.glyphicon(class=@icon)
        .step-details
          .step-type= @type
          .step-description= @description
    .sidebar-footer
      %h4.centered Add transform
      .btn-group
        - each @actions, ->
          .btn.btn-default(type="button" @click @title)
            %span.glyphicon(@class)
