:coffeescript
  Step = require "./step"
  Actions = require "./actions"

%aside.sidebar
  %h3.centered Transform Timeline
  .timeline
    - dataset = @activeDataset()
    = dataset.steps.map (step, index) -> Step({step, dataset, stepIndex: index})

  .sidebar-footer
    %h4.centered Add transform
    = Actions @activeDataset()
