%aside.sidebar
  %h3.centered Transform Timeline
  .timeline
    - @steps.forEach (step) ->
      .timeline-step(click=step.click class="#{step.name()} #{step.class()}")
        .icon.inline-left.glyphicon(class=step.icon)
        .step-details
          .step-type= step.type
          .step-description= step.description
    .sidebar-footer
      %h4.centered Add transform
      .btn-group
        - @actions.forEach (action) ->
          .btn.btn-default(type="button" click=action.click title=action.title)
            %span.glyphicon(class=action.class)
