- activeClass = -> "active" if @step is @editor.activeStep()
- click = -> @editor.activeStep @step
.timeline-step(click=click class=activeClass)
  .icon.inline-left.glyphicon(class=@step.icon)
  .step-details
    .step-type= @step.type
    %textarea.form-control.step-description(value=@step.description)
