.container
  .form-group
    %h4 Data Source
    .input-group
      %input.form-control(value=@sourceUrl)
      %span.input-group-btn
        %button.btn.btn-default(type="button" click=@loadData) Load

  %pre(style="height:300px;")= @prettyPrintData

  .form-group
    %h4 Enter Row
    %textarea.form-control(value=@rowSource)
    %button.btn.btn-default(type="button" click=@addRow) Add Row

  .form-group
    %h4 Mapping Transformation
    %textarea.form-control(value=@mapTransform)

  .form-group
    %h4 Sorting Transformation
    %textarea.form-control(value=@sortTransform)

  %table.table
    %thead
      %tr
        - each @headers, (header) ->
          %th= header.replace(/[@]/g, "").trim()

    %tbody
      - each @body, (cells) ->
        %tr
          - each cells, (value) ->
            %td= value

  .spreadsheet

  .form-group
    %h4 Reduce Transformation

  .form-group
    %h5 Premade
    %select.form-control(value=@aggregator options=@aggregatorOptions)

  %h4 OR

  .form-group
    %h5 Custom
    %textarea.form-control(value=@aggregateTransform)

  .form-group
    %h4 Apply Across
    %textarea.form-control(value=@groupBy)

  %h4 Output
  .pre
    .reduction-output= @aggregate
