%section.main
  .form-group
    %h3 Dataset
    %span Data comes from a
    %select.form-control.select-inline
      %option URL
      %option file
      %option manual entry
    .inline-form-container
      %input.form-control(value=@sourceUrl)
      %button.btn.btn-default(type="button" click=@loadData) Load

  %pre= @prettyPrintData

  .form-group.hidden
    %h4 Mapping Transformation
    %textarea.form-control(value=@mapTransform)

  .form-group.hidden
    %h4 Sorting Transformation
    %textarea.form-control(value=@sortTransform)

  %table.table.hidden
    %thead
      %tr
        - @headers().forEach (header) ->
          %th= header.replace(/[@]/g, "").trim()

    %tbody
      - @body().forEach (cells) ->
        %tr
          - cells.forEach (value) ->
            %td= value

  .spreadsheet.hidden

  .form-group.hidden
    %h4 Reduce Transformation

  .form-group.hidden
    %h5 Premade
    %select.form-control(value=@aggregator options=@aggregatorOptions)

  %h4.hidden OR

  .form-group.hidden
    %h5 Custom
    %textarea.form-control(value=@aggregateTransform)

  .form-group.hidden
    %h4 Apply Across
    %textarea.form-control(value=@groupBy)

  %h4.hidden Output
  .pre.hidden
    .reduction-output= @aggregate
