- row = require "./row"


%input(value=@dataSource)

%table
  %thead
    %tr
      - each @headers, (value) ->
        %th
          = value

  %tbody
    - each @body, ->
      -# TODO Update hamlet runtime to remove need for .row-wrap element
      = row @
