- row = require "./row"

.container
  .form-group
    %h4 Data Source
    %input.form-control(value=@dataSource)

  .form-group
    %h4 Mapping Transformation
    %textarea.form-control(value=@mapTransform)

  .form-group
    %button.btn.btn-default(type="button" @click) Apply

%table
  %thead
    %tr
      - each @headers, (value) ->
        %th
          = value

  %tbody
    - each @body, ->
      -# TODO Update hamlet runtime to remove need for .row-wrap element
      = row @
