- row = require "./row"

%input(value=@dataSource)

%table
  - each @data, ->
    -# TODO Update hamlet runtime to remove need for .row-wrap element
    .row-wrap
      = row @

%button(click=@new) New
